@import "~antd/lib/style/themes/default.less";

.container {
  position: relative;
  min-height: 100vh;
  padding: 10rem 0 10rem 0;
}

.baseCenter {
  width: 20rem;
  margin: 0 auto;
  z-index: 1;
}

.logo {
  .baseCenter;
}

.inner {
  .baseCenter;
  box-shadow: 0 3px .5rem @primary-color;
  background-color: white;
  padding: 2rem 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 1rem;
  margin: 3rem 0 1.5rem;
  text-align: center;
}
