.loading {
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.fullScreen {
  position: fixed;
}

.icon {
  font-size: 2rem;
}
