
.cm-s-github.CodeMirror {
  background: #fff;
  color: #24292e;
}

.cm-s-github .CodeMirror-gutters {
  background: #fff;
  border-right-width: 0;
}

.cm-s-github .CodeMirror-guttermarker {
  color: white;
}

.cm-s-github .CodeMirror-guttermarker-subtle {
  color: #d0d0d0;
}

.cm-s-github .CodeMirror-linenumber {
  color: #959da5;
  padding: 0 16px 0 16px;
}

.cm-s-github .CodeMirror-cursor {
  border-left: 1px solid #24292e;
}

.cm-s-github div.CodeMirror-selected,
.cm-s-github .CodeMirror-line::-moz-selection,
.cm-s-github .CodeMirror-line > span::-moz-selection,
.cm-s-github .CodeMirror-line > span > span::-moz-selection,
.cm-s-github .CodeMirror-line::-moz-selection,
.cm-s-github .CodeMirror-line > span::-moz-selection,
.cm-s-github .CodeMirror-line > span > span::-moz-selection {
  background: #c8c8fa;
}

.cm-s-github div.CodeMirror-selected,
.cm-s-github .CodeMirror-line::selection,
.cm-s-github .CodeMirror-line > span::selection,
.cm-s-github .CodeMirror-line > span > span::selection,
.cm-s-github .CodeMirror-line::-moz-selection,
.cm-s-github .CodeMirror-line > span::-moz-selection,
.cm-s-github .CodeMirror-line > span > span::-moz-selection {
  background: #c8c8fa;
}

.cm-s-github .CodeMirror-activeline-background {
  background: #fafbfc;
}

.cm-s-github .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: #24292e !important;
}

.cm-s-github .cm-comment {
  color: #919ea8 !important;
}

.cm-s-github .cm-keyword {
  color: #d73a49 !important;
}

.cm-s-github .cm-string {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #032f62 !important;
}

.cm-s-github span.cm-def {
  color: #6f42c1 !important;
}

.cm-s-github span.cm-atom {
  color: #005cc5 !important;
}

.cm-s-github span.cm-operator {
  color: #d73a49 !important;
}

.cm-s-github span.cm-number {
  color: #005cc5 !important;
}

.cm-s-github span.cm-meta {
  color: #005cc5 !important;
}

.cm-s-github span.cm-builtin {
  color: #005cc5 !important;
}

.cm-s-github span.cm-variable {
  color: #24292e !important;
}

.cm-s-github span.cm-variable-2 {
  color: #005cc5 !important;
}

.cm-s-github span.cm-variable-3 {
  color: #d73a49 !important;
}

.cm-s-github span.cm-property {
  color: #24292e !important;
}

.cm-s-github span.cm-tag {
  color: #005cc5 !important;
}
