.container {
  display: flex;
  justify-content: center;
}

.avatarWrapper {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: auto auto 1rem auto;
  transition: all 300ms;
  img {
    border-radius: 50%;
    width: 100%;
  }
}

.captchaWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.captchaImageWrapper {
  position: relative;
  &:last-child {
    margin-left: 1rem;
  }
}

.captcha {
  cursor: pointer;
  max-height: 40px;
}

.hidden {
  display: none;
}

.submit {
  width: 100%;
}
